<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include("../partials/nav") %>
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12 mt-3">
          <% if (action!=undefined && action=="edit" && slugs!=undefined) { %>
          <div class="alert alert-success">
            Updated the linked blog page named "<%=slugs%>"
          </div>
          <% } %> <% if (action!=undefined && action=="create") { %>
          <div class="alert alert-success">Blog page created</div>
          <% } %> <% if (action!=undefined && action=="delete") { %>
          <div class="alert alert-danger">Blog page deleted</div>
          <% } %>

          <script>
            const hidden = () => {
              let alerts = document.querySelector(".alert");
              alerts.classList.add("d-none");
            };
            let myTimeout = setTimeout(hidden, 5000);
          </script>

          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th style="width: 50px; text-align: center">id</th>
                <th style="width: 150px">image</th>
                <th>title</th>
                <th>category</th>
                <th style="width: 130px"></th>
              </tr>
            </thead>
            <% blogs.forEach(blog => { %>
            <tr>
              <td>
                <div class="d-flex justify-content-center mt-4">
                  #<%= blog.dataValues.id %>
                </div>
              </td>
              <td>
                <img
                  src="/static/images/<%= blog.dataValues.image %>"
                  class="img-fluid" />
              </td>
              <td><%= blog.title %></td>
              <td>
                <% blog.categories.forEach(category => { %>
                <p><%= category.name %></p>
                <% }) %>
              </td>
              <td>
                <div class="d-flex justify-content-between mt-4">
                  <a
                    class="btn btn-sm btn-primary"
                    href="/admin/blogs/<%= blog.dataValues.url %>">
                    edit
                  </a>
                  <a
                    class="btn btn-sm btn-danger"
                    href="/admin/blog/delete/<%= blog.dataValues.url %>">
                    delete
                  </a>
                </div>
              </td>
            </tr>
            <% }) %>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
